.main__row {
  display: flex;
  justify-content: center;
  padding-top: 2em;
}

/* .main__row div {
  margin: 0 2em;
} */

.main__row .gradient-line {
  margin: 0;
}

.main__row-second {
  justify-content: start;
  margin-left: 1em;
}

.main__row-third {
  display: flex;
  justify-content: end;
}
